


section.image-wrap {
    height: 100vh;
    width: 100vw;
    padding: 60px;
}

section.image-wrap div {
    height: 100%;
    width: 100%;
    background-image: url(img/hero-desktop-contour.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.shapes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 700px) {

    section.image-wrap {
        padding: 40px;
    }

}

section.test {
    margin-top: 100vh;
    height: 2000px;
    background-color: black;
}